@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  padding-top: 50px;
  font: 16px "Open Sans", sans-serif;
  }
  
  a {
    color: #006699;
  }
  .navbar-collapse-taera{
    color: #006699;
  }

.navbar-fixed-bottom{
  border-top: thin solid #000000;
  font-size: 14px;
} 
/* PROJECTS */
.project_table{
  margin:auto;
  width: 60%;
}

.project_table th{
  background-color: #f9f9f9;
}

.project_table a, a:hover{
  text-decoration: none;    
}

.project_table .col1, .col3{
  width: 20%;
  text-align: center;
}

.project_table .col2 {
  width: 60%;
  text-align: center;
}

/* SERVICES */
.services_panel{
  margin:auto;
  width: 60%;
}

#android{
  color: #00cc00;
}

.services_box{
  height: 170px;
}

/*
contact.ejs style
*/
.bodyContainer.contact{
  width: 100%;
  margin-top: 30%;
  font-size: 1.5em;
}

#contact{
  background-color: #FFE4C4;
  border-color: #000000;
}

.bodyContainer.services a:link, a:visited{
  color: #808080;       
}

.bodyContainer.services a:hover{
  color: #ffcc00;
  text-decoration: none;
}