<!-- 
  Author: Taera Kwon (300755802)
  File Name: about.ejs
  Website Name: About Taera
  Description: This page contains about myself '/about'
-->

<% include ../partials/header.ejs %>
  <div class="container-fluid">
    <div class="row text-center">
      <table class="info_table">
        <tr>
          <td class="col1"><img src="Contents/images/linh_profile.jpg" width="50%" height="50%" class="animated pulse" id="about_profile" alt="Phuong Linh Pham Profile Photo"/></td>
          <td class="col2"><p><i class="fa fa-quote-left animated infinite rubberBand"></i> HELLO! My name is Phuong Linh Pham <i class="fa fa-quote-right animated infinite rubberBand"></i></p>
          <p>
                    <a href="Assets/documents/LinhPhamResume.pdf" download><i class="fa fa-file"></i>&nbsp;&nbsp;Click here to download CV</a>
          </p
          </td> 
        </tr>
        <tr><td><br></td><td></td></tr>
        <tr>        
          <td colspan="2">
          <blockquote class="blockquote-reverse">
        <!-- Information Contents -->
        <dl>
          <dt class="animated pulse infinite" >Education</dt>
          <dd>&nbsp; 2017 to Current:
          <br> &nbsp;Software Engineering Technology Advanced Diploma at Centennial College</dd>
          <dt class="animated pulse infinite">Highlights</dt>
          <dd>&nbsp; •	Programming/Web: C#, Java, JavaScript, HTML, CSS3, XML, ASP.NET</dd> 
          <dd>&nbsp; •	Database/DBMS: SQL, MongoDB, Oracle DB</dd>
          <dd>&nbsp; •	Framework & Library: ASP.NET MVC CORE 2.0, React, Node.js, Express.js, jQuery, Bootstrap</dd>
          <dd>&nbsp; •	Software: Visual Studio, VS Code, Eclipse, GIT, Android Studio</dd>
        </dl>
         <div class="social text-center">
          <a href="https://www.linkedin.com/in/chris-pham-5b6251146/"><i class="fa fa-3x fa-linkedin-square"></i></a>
          <a href="https://github.com/ChrisPTheCoder"><i class="fa fa-3x fa-github-square"></i></a>
          <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=chris.pham.0307@gmail.com"><i class="fa fa-3x fa-google"></i></a>
          <a href="https://www.instagram.com/chris.p.07/"><i class="fa fa-3x fa-instagram"></i></a>
          <a href="https://www.facebook.com/chypidabet777"><i class="fa fa-3x fa-facebook-square"></i></a>
        </div>
            </p>
          </blockquote> <!-- .blockquote-reverse -->
          </td>
        </tr>
      </table>
    </div> <!-- .about -->
  </div> <!-- .container-fluid -->
<% include ../partials/footer.ejs %>

