<!-- 
  Author: Phuong Linh Pham (300923800)
  File Name: contact.ejs
  Website Name: Projects | Phuong Linh Pham 
  Description:  This is the Contacts page 'views/contact'
                This page will list methods to contact me
-->

<% include ../partials/header.ejs %>
  <div class="container-fluid">
    <div class="row text-center">
      <table class="contact_table">
        <tr>
          <td class="col1"><i class="fa fa-2x fa-envelope"></i></td>
          <td class="col2"><a href="mailto:chris.p.0307@gmail.com" class="hvr-skew">E-mail: chris.p.0307@gmail.com</a></td>
        </tr>
        <tr>
          <td class="col1"><i class="fa fa-2x fa-linkedin-square"></i></td>
          <td class="col2"><a href="https://www.linkedin.com/in/chris-pham-5b6251146/" target="_blank" class="hvr-skew">LinkedIn</a></td>
        </tr>
        <tr>
          <td class="col1"><i class="fa fa-2x fa-github"></i></td>
          <td class="col2"><a href="https://github.com/ChrisPTheCoder" target="_blank" class="hvr-skew">GitHub</a></td>
        </tr>
      </table>
    </div> <!-- .about -->
  </div> <!-- .container-fluid -->
<% include ../partials/footer.ejs %>

