<!-- 
  Author: Taera Kwon (300755802)
  File Name: projects.ejs
  Website Name: Projects | Taera
  Description:  This is the projects page '/project'
                This page contains a list of development projects that 
                I have accompished & currently participating
-->

<% include ../partials/header.ejs %>
  <div class="container-fluid">
    <div class="row text-center">
    
    <!-- TABLE -->
      <table class="project_table table">
        <tr>
          <th class="col1"> </th>
          <th class="col2">PROJECT's REPO & PROJECT NAME</th>
        </tr>
        <tr>
          <td class="col1"><a href="https://github.com/ChrisPTheCoder/myPortfolio_Asgn2" target="_blank"><i class="fa fa-1x fa-github"></i> Github</a></td>
          <td class="col2">MEAN Portfolio Development</td>
        </tr>
        <tr>
          <td class="col1"><a href="https://github.com/partyhive/Party-Hive" target="_blank"><i class="fa fa-1x fa-github"></i> Github</a></td>
          <td class="col2">Party-Hive</td>
        </tr>
        <tr>
          <td class="col1"><a href="https://github.com/langdin/DragonSlayerLive" target="_blank"><i class="fa fa-1x fa-github"></i> Github</a></td>
          <td class="col2"><a href="#" data-toggle="tooltip" title="<%= project_dragonslayer %>" class="hvr-fade">Dragon Slayer</a></td>
        </tr>
        <tr>
          <td class="col1"><a href="https://github.com/ProNovice/MovieManiac-MovieRentalWebsite" target="_blank"><i class="fa fa-1x fa-github"></i> Github</a></td>
          <td class="col2"><a href="#" data-toggle="tooltip" title="<%= project_moviemaniac %>" class="hvr-fade">Movie Maniac</a></td>
        </tr>
        <tr>
          <td class="col1"><a href="https://github.com/ChrisPTheCoder/WorldCuisinesRestaurant" target="_blank"><i class="fa fa-1x fa-github"></i> Github</a></td>
          <td class="col2"><a href="#" data-toggle="tooltip" title="<%= project_worldcuisine %>" class="hvr-fade">World Cuisines Restaurant</a></td>
        </tr>
      </table>
    </div> <!-- .about -->
  </div> <!-- .container-fluid -->
<% include ../partials/footer.ejs %>

